config ALUCARD_HOTPLUG
	bool "Enable alucard-hotplug cpu hotplug driver"
	default n
	help
	Generic Alucard-hotplug cpu hotplug driver for ARM SOCs

config ASMP
	bool "Multi-core automatic hotplug support"
	depends on SMP
	default n
	help
           Automatically hotplugs the multiple cpu cores on and off based on cpu load and suspend state.
           
config THUNDERPLUG_CONTROL
	bool "Enable plugging down/up of cores using powersuspend"
	default n
	help
	  This driver uses powersuspend to take down the cpu cores
	  on a octa core device.

config MSM_HOTPLUG
	bool "MSM hotplug driver"
	depends on HOTPLUG_CPU
	default n
	help
	  The MSM hotplug driver controls on-/offlining of additional cores based
	  on current cpu load.
