config STATE_HELPER
        bool "State Helper"
	    depends on STATE_NOTIFIER

config ALUCARD_HOTPLUG
	bool "Enable alucard-hotplug cpu hotplug driver"
	default n
	help
	Generic Alucard-hotplug cpu hotplug driver for ARM SOCs

config ASMP
	bool "Multi-core automatic hotplug support"
	depends on SMP
	default n
	help
           Automatically hotplugs the multiple cpu cores on and off based on cpu load and suspend state.
           
config THUNDERPLUG_CONTROL
	bool "Enable plugging down/up of cores using powersuspend"
	default n
	help
	  This driver uses powersuspend to take down the cpu cores
	  on a octa core device.

